html
  head
    title!='Coffee Table | CMS'
  body
    h1='Coffee Table | Admin'
    ul
      li
        a(href='/users') Manage Users
      li
        a(href='/write') Write articles
      li
        a(href='/articles') Manage articles
